{%extends "layout.html"%}
{%block content%}

<form action="/calculator" method="post">
    <h2>SHAYAAN'S CALCULATOR</h2>
    <label for="" style="font-style: italic;font-weight: bold;">
        Enter a number
        <input type="number" name="number1" style="font-style: italic;color: rgb(27, 204, 36);font-weight: bolder;font-size: large;">
    </label><br><br>
    <label for="" style="font-style: italic;font-weight: bold;">Operator
        <select name="operator" id="">
            <option value="+" style="font-weight: bold;font-size: medium;">+</option>
            <option value="-" style="font-weight: bold;font-size: medium;">-</option>
            <option value="x" style="font-weight: bold;font-size: medium;">X</option>
            <option value="÷" style="font-weight: bold;font-size: medium;">÷</option>
            <option value="remainder" style="font-weight: bold;font-size: medium;">remainder</option>
            <option value="power" style="font-weight: bold;font-size: medium;">power</option>
            <option value="root" style="font-weight: bold;font-size: medium;">root</option> 
        </select>
    </label><br><br>
    <label for="" style="font-style: italic;font-weight: bold;">
        Enter another number
        <input type="number" name="number2" style="font-style: italic;color: rgb(120, 10, 245);font-weight: bolder;font-size: large;">
    </label><br>
    <button type="submit" style="background-color: darkorange; width: 100px;">=</button>
    <div >
        <h1 style="color: blue;"> {{result}}</h1>
    </div>
</form>

{%endblock%}
