<html>
 <head>
   <title>Radio Buttons</title>
 </head>
 <body>
   <form action="/radiob" method="post">
     <h3>What is the best time to deliver your parcel?</h3>
     <label for="morning">
       Morning
       <input type="radio" id="morning" name="callTime" value="morning" required/>
     </label>
     <label for="afternoon">
       Afternoon
       <input type="radio" id="afternoon" name="callTime" value="afternoon"/>
     </label>
     <label for="evening">
       Evening
       <input type="radio" id="evening" name="callTime" value="evening" />
     </label>
     <button type="submit" >SUBMIT</button>
   </form>
 </body>
</html>
